# fly.toml app configuration file generated for first-bot on 2025-11-05T00:57:03Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "first-bot"
primary_region = "dfw"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
